@font-face {
    font-family: appleFont;
    src: url(/fonts/Roboto-Light.ttf) ;
}

*{
    margin: 0;
    padding: 0;
    font-family: appleFont;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    scroll-behavior: smooth;
}

body{
    background: #111005;
    color: #fff6e5;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

body::-webkit-scrollbar{
    display: none;
}

/*----------------------------------HEADER------------------------------------*/
.app-header{
    width: 100%;
    position: fixed;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    background-color: #111005;
    z-index: 1000;
}

.app-header__container{
    display: flex;
    justify-content: space-between;
    width: calc(-3.125px + 87.5%);
    padding: 5px;
}

.logo{
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.app-header__links{
    display: flex;
    position: relative;
    justify-content: end;
    width: 100%;
    list-style: none;
}

.app-header__links li{
    margin-right: 50px;
}

.app-header__links li:hover{
    text-decoration: underline;
}

/*------------------------------------HOME------------------------------------*/
.home-intro{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-intro p{
    margin: 0;
    letter-spacing: -1.2px;
}

.home-intro-wrapper{
    position: absolute;
    display: flex;
    top: 250px;
    bottom: 200px;
    width: calc(-6.25px + 75%)
}

.home-intro__info{
    width: 100%;
    font-size: 3rem;
}

/*-----------------------------------SHOWCASE---------------------------------*/
.projects-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectTemplate{
    height: 100%;
    width: 80%;
    min-width: 500px;
    min-height: 500px;
}

/*--------------------------------------FOOTER--------------------------------*/
.app-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    padding-bottom: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.app-footer__container{
    display: flex;
    justify-content: space-around;
    width: calc(-3.125px + 37.5%);
    padding: 10px;
}

.app-footer__container a:hover{
    text-decoration: underline;
}